@font-face {
  font-family: "MS Gothic";
  src: url(https://cdn.glitch.global/e7be3a8a-3cf8-4031-ab1c-f4ccb9df21c6/MS%20Gothic.ttf?v=1743003198434);
}

/*BOILERPLATE*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
/*   font-family: "MS Gothic", sans-serif; */
  font-family: Arial, sans-serif;
  color: #212A37;
  background-color: #f3f3f3; 
}

img {
  max-width: 100%;
}

/*MAIN CONTAINER*/
.main-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding: 0;
  margin-top: 10px;
  border: 1px solid;
}

/*HEADER*/
.header {
  width: 100%;
  font-size: 150%;
  border-bottom: 1px solid;
}

/*NAV MENU AND CONTENT DIV*/
.secondary-container {
  display: flex;
  flex-direction: row;
  padding: 0px;
  border-bottom: 1px solid;
}

/*NAV MENU*/
.selectSection {
  width: 25%;
  border-right: 1px solid;
}

.nav-button {
  text-align: left;
/*   border: 1px solid black; */
}

.nav-button:hover {
/*   border: outset; */
}

.nav-button:focus {
/*   color: orange; */
/*   border: inset; */
  color: blue;
  text-decoration: blue wavy underline;
}

/*CONTENT*/
.page {
}

.page-title {
  display: none;
}

button {
  display: block;
  margin: 10px;
  border: none;
  background: none;
  font-size: 100%;
}

button:hover {
  text-decoration: blue wavy underline;
}

button:active {
/*   color: magenta; */
}

.contentSection {
  width: 75%;
  padding: 0;
}

.content:not(:first-child) {
  display: none;
}

/*MANIFESTO AND/OR SECONDARY CONTENT*/
.secondary-content {
  border-bottom: 1px solid;
}

/*FOOTER*/
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*OTHER*/
div {
  padding: 10px;
}

h1 h2 h3 {
  font-weight: normal;
}

.text-rainbow-animation {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 500s linear infinite;
}

/* BUY USED BOOKS PAGE CSS */
div.used-book-links {
}

a.used-book-link {
/*   background-color: yellow; */
  display: block;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  color: black;
  border-bottom: 1px black solid;
}

a.used-book-link:hover {
  color: blue;
  border-bottom: 1px blue solid;
}

/* SUPPORT LOCAL BOOKSTORES PAGE CSS */

.local-bookstore-directory {
  margin: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 10px;
}

details {
  padding: 10px;
}

/* MOBILE FORMATTING */
@media screen and (max-width: 600px) {
  body {
    font-size: 125%;
  }

  .header {
    font-size: 125%;
  }

  .main-container {
    width: 100%;
    border: none;
  }

  .secondary-container {
    flex-direction: column;
  }

  .selectSection {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid;
    border-right: none;
  }

  .nav-button {
    font-size: 200%;
    padding: 0;
    border: none;
  }

  .desktop-nav {
    display: none;
    visibility: hidden;
  }

  .contentSection {
    width: 100%;
  }

  .page-title {
    display: block;
    font-weight: bold;
    font-size: 150%;
  }

  button {
    display: inline;
  }
}

@media screen and (min-width: 601px) {
  .mobile-nav {
    display: none;
    visibility: hidden;
  }
}

/*ANIMATIONS*/

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}
